body {
    color: white;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    padding-top: 8px;
    padding-left: 15px;
}

form{
    display: block;
    text-align: center;
    padding: 30px;
}
h2 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 15px;
}

h3{
    font-size: 80px;
    font-weight: 300;
    text-align: left;
    padding: 5px;
}
p{
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 15px;
}
a{
    text-decoration: none;
}

.info-container{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    border-radius: 4px;
    max-width: 700px;
    margin: 0px auto;
    margin-top: 30px;
    opacity: 1;
    padding: 30px 30px;
}

.search-box{
    font-size: 20px;
}

.wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px;    
}

.weather-description {
    text-transform: capitalize;
    font-size: 15px;
    text-align: center;
    padding: 0px;
}

.units{    
    font-size: 20px;
    font-weight: 300;
    position: relative;
    text-align: left;
    top: -40px;
}

.active {
    color : ghostwhite;
    cursor: default;
}

.active:hover{
    color: ghostwhite;
}


.weather-forecast{
    margin-left: 60px;
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-temperature{
    padding: 5px;
}

.weather-forecast-temperature-min{
    opacity: 0.5;
}

.weather-forecast-date {
    padding: 5px;
}
.repository{
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 15px;
    padding-top: 20px;
}